/* RecipeForm */
.form-control {
  display: initial;
}
#recipes-eright {
  background-color: #2a9d909f;
  border: 2px #e9c46a solid;
  width: 50%;
  height: auto;
  float: none;
  overflow: hidden;
  display: block;
  margin-left: 25rem;
}
@media screen and (max-width: "480px") {
  #recipes-eright {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
#recipes-eright #recipes-eform-holder {
  text-align: center;
  padding: 1rem;
}
#recipes-eright #recipes-eform-holder #form-name {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-name {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-cuisine {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-cuisine {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-serving {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-serving {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-ingredients {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-ingredients {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-prepTime {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-prepTime {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-cookTime {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-cookTime {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-difficulty {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-difficulty {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-image {
  padding: 10px 0 20px 0;
  width: 60%;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-image {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-duration {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-duration {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-steps {
  margin-bottom: 15px;
  border: 1px black solid;
  border-radius: 2px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-steps {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-rating {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-rating {
    width: 90%;
  }
}
#recipes-eright #recipes-eform-holder #form-button {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background-color: #e9c46a;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: "480px") {
  #recipes-eright #recipes-eform-holder #form-button {
    width: 90%;
  }
}
#recipes-eright #message {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #e76f51;
  background-color: #2a9d8f;
  width: 400px;
  height: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
