/* RecipeForm */
.form-control {
  display: initial;
}
#recipes-right {
  background-color: #2a9d909f;
  border: 2px #e9c46a solid;
  width: 50%;
  height: auto;
  float: right;
  overflow: hidden;
}
@media screen and (max-width: "480px") {
  #recipes-right {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
#recipes-right #recipes-form-holder {
  text-align: center;
  padding: 1rem;
}
#recipes-right #recipes-form-holder #form-title {
  margin-bottom: 10px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-title {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-image {
  padding: 10px 0 20px 0;
  width: 60%;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-image {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-duration {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-duration {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-steps {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-steps {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-rating {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-rating {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-button {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background-color: #e9c46a;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-button {
    width: 90%;
  }
}
#recipes-right #message {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
  width: 400px;
  height: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
