@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

/* about */

#about-title {
  color: black;
  text-align: center;
  padding-top: 50px;
}
#about-title h1 {
  padding-bottom: 20px;
}
@media screen and (max-width: "480px") {
  #about-title h1 {
    font-size: 1.7em;
  }
}
#image-holder {
  text-align: center;
  padding-bottom: 10px;
}
#image-holder img {
  width: 50%;
}
@media screen and (max-width: 720px) {
  #image-holder img {
    width: 70%;
  }
}
#container {
  text-align: center;
}

/* navbar */

nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .logo {
  margin-bottom: 0;
}
nav .nav-item {
  display: block !important;
  border: 0;
  padding: 0;
}
nav .nav-item a {
  color: rgb(0, 0, 0) !important;
}
nav .nav-item a:hover {
  color: rgba(128, 51, 204, 0.333) !important;
}
.nav-clear {
  height: 59px;
}

/* contact */

.fa-github {
}

#contact-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: "480px") {
  #contact-title {
    font-size: 1.7em;
  }
}
#contact-image-holder {
  background-image: url("../src/images/contact.jpeg");
  height: 65vh;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media screen and (min-width: "1080ox") {
    height: 640px;
    max-width: 1440px;
  }
}
#bg-text {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 550px;
  padding: 20px;
  text-align: center;
  display: center;
}
#bg-text .highlight {
  font-size: 1.5rem;
}
