@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #264653;
  --color-bg-variant: #2a9d8f;
  --color-primary: #e9c46a;
  --color-primary-variant: #f4a261;
  --color-secondary: #e76f51;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#recipes-right {
  background-color: white;
  border: 2px #eb6864 solid;
  width: 60%;
  height: 85%;
  float: right;
  overflow: hidden;
}
@media screen and (max-width: "480px") {
  #recipes-right {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
#recipes-right #recipes-form-holder {
  text-align: center;
  padding: 20px 0;
}
#recipes-right #recipes-form-holder #form-name {
  margin-bottom: 7px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-name {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-image {
  padding: 10px 0 20px 0;
  width: 60%;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-image {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-duration {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-duration {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-ingredients {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-ingredients {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-cuisine {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-cuisine {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-serving {
  margin-bottom: 7px;
  margin-top: 5px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-serving {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-difficulty {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-difficulty {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-prepTime {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-prepTime {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-cookTime {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-cookTime {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-steps {
  width: 60%;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-steps {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-rating {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 60%;
  padding: 5px;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-rating {
    width: 90%;
  }
}
#recipes-right #recipes-form-holder #form-button {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background-color: #eb6864;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: "480px") {
  #recipes-right #recipes-form-holder #form-button {
    width: 90%;
  }
}
#recipes-right #message {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
  width: 400px;
  height: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Recipes */
body {
  font-family: "Roboto", sans-serif;
  background: var(--color-bg);
  color: var(--color-secondary);
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}
/* Recipe preview container */
.recipe-preview-container {
  text-align: center;
  border-radius: 20px;
  width: 500px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0px 0px 25px;
}
.recipe-preview-container .recipe-info {
  color: tan;
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif !important;
}
.recipe-preview-container .recipe-content {
  font-size: 16px;
}
.recipe-preview-container .recipe-image {
  width: 100%;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipe-preview-container .recipe-details {
  padding: 20px;
}
.recipe-preview-container .recipe-title {
  font-weight: 100;
  border-radius: 20px;
  line-height: 1.3;
}
@media screen and (max-width: "480px") {
  .recipe-preview-container .recipe-title {
    font-size: 1.7em;
  }
}
.recipe-preview-container img {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 230px;
  width: 210px;
}
@media screen and (max-width: "480px") {
  .recipe-preview-container img {
    width: 50%;
  }
}
.recipe-preview-container p {
  padding: 10px 0;
  margin-bottom: 0;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.recipe-preview-container .recipe-details--bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recipe-preview-container .recipe-details--bottom .recipe-details--ratings {
  display: flex;
  flex-wrap: wrap;
}
.recipe-preview-container
  .recipe-details--bottom
  .recipe-details--ratings
  .recipe-info {
  text-align: left;
  width: 100%;
}
.recipe-preview-container #stars-outer {
  position: relative;
  display: none;
}
.recipe-preview-container #stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}
.recipe-preview-container #stars-outer #stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.recipe-preview-container #stars-outer #stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: yellow;
}
/* Responsive */
@media screen and (max-width: 575px) {
  .recipe-preview-container {
    width: 80%;
  }
  .recipe-preview-container .recipe-image {
    min-height: 200px;
  }
}
@media screen and (max-width: 399px) {
  .recipe-preview-container .recipe-details--bottom {
    justify-content: center;
  }
  .recipe-preview-container .recipe-details--bottom .recipe-details--ratings {
    justify-content: center;
  }
  .recipe-preview-container
    .recipe-details--bottom
    .recipe-details--ratings
    .recipe-info {
    text-align: center;
  }
}
