nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .logo {
  margin-bottom: 0;
  margin-left: 1rem;
}
nav .nav-item {
  display: block !important;
  border: 0;
  padding: 0;
}
nav .nav-item a {
  color: var(--color-primary) !important;
}
nav .nav-item a:hover {
  color: var(--color-secondary) !important;
}
.nav-clear {
  height: 59px;
}

nav {
  background-color: var(--color-bg-variant);
}

nav .navbar-brand {
  color: var(--color-primary);
}
